  
      <nav class="header-v3__nav" role="navigation">
        <ul class="header-v3__nav-list">
            {% for link in linklists.main-menu.links %}
                    {% assign child_list_handle = link.title | handleize %}
                    {% if linklists[child_list_handle].links != blank %}
                        <li class="header-v3__nav-item">
                            <a class="header-v3__nav-link" href="{{ link.url }}">{{ link.title }}</a>
                        </li>
                        [{% for childlink in linklists[child_list_handle].links %}
                            <li class="header-v3__nav-item">
                                <a class="header-v3__nav-link" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                            </li>
                        {% endfor %}]
                    {% else %}
                        <li class="header-v3__nav-item">
                            <a class="header-v3__nav-link" href="{{ link.url }}">{{ link.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li class="header-v3__nav-item">
                    <a class="header-v3__nav-link" href="/cart">carts</a>
                </li>
        
  </ul>
  </nav>



 {% if shop.customer_accounts_enabled %}
    {% if customer %}
      <a href="/account">account</a>
      {{ 'log out'  | customer_logout_link }}
    {% else %}
      {{ 'log in ' | customer_login_link }}
      {{ 'register' | customer_register_link }}
    {% endif %}
  {% endif %}